<?xml version="1.0" encoding="UTF-8"?>
	<!--配置映射接口-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx.xsd  
       http://www.springframework.org/schema/context   
       http://www.springframework.org/schema/context/spring-context.xsd  
       http://www.springframework.org/schema/aop  
       http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 注册dao基类 sqlmap-->
	<bean id="BaseSqlMap" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.radixdigit.base.SqlMapper" />
		<property name="sqlSessionFactory" ref="ssmSessionFactory" />
	</bean>
	<!--扫描mybatisGenerator 所有接口，这个是关键 ，如果后期开发中自己定义的mapper映射接口不在此包内，那么就得在下面自己配置相应的接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.radixdigit.mapper"></property>
	</bean>
		
	<!--在下面自定義单个mapper映射接口-->
</beans>